@page "/"

<PageTitle>Главная</PageTitle>
                
<div class="bg-image">
    <h6>
        Добро пожаловать в личный планировщик!
    </h6>
    <div class="overlay">
        <div class="content-main">
            <p style="text-align: left; font-size: 15px">
                @DateTime.Now.ToLongDateString()
            </p>
            
            <blockquote class="blockquote">
                <p>Планы — ничто, планирование — всё</p>
                <cite>Хельмуту фон Мольтке</cite>
            </blockquote>
        </div>
    </div>
</div>